* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
   height: 100%;
   background: #000;
}

/* html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
} */

::-webkit-scrollbar {
    width: 20px;
    background: linear-gradient(-45deg, #008000, #ffa500, #00fbff);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(-45deg, #00fbff, #008000);
    border-radius: 20px;
}

header {
    width: 100%;
    height: 90px;
    background: linear-gradient(-45deg, #008000, #ffa500, #00fbff);
    padding: 0 2%;
    position: fixed;
    z-index: 99;
}

header .container {
    margin: 0 auto;
    max-width: 1400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 200px;
    height: 70px;
    background-image: url(../img/logo-dev.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

header #btn-mobile {
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
    background-image: url(../img/casa.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

header nav #menu {
    display: inline-flex;
    gap: 20px;
}

header nav #menu li:hover {
    background: #01371190;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

header .sub-menu {
    max-width: 100%;
    display: none;
    transition: 0.5s;
}

header #menu li {
    padding: 1rem;
    position: relative;
    transition: 0.5s;
}

header nav #menu li .sub-menu.subMenuActivo {
    display: block;
    position: absolute;
    background: linear-gradient(#008000, #ffa500, #00fbff);
    top: 50px;
    left: 0;
    transition: 0.5s;

}

/* ********************* Section Main *********************  */

h1 {
    font-size: 200px;
    text-align: center;
    color: #fff;
}

h2 {
    width: 100%;
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    background: linear-gradient(-45deg, #ffa500, #4dff00b8);
}

h3 {
    font-size: 40px;
    text-align: center;
    background: linear-gradient(-45deg, #00fbff, #008000);
}

img {
    width: 100%;
    height: 100%;
}

section {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    top: 90px;
}
p{
    padding: 10px;
}
section p{
    font-size: 30px;
    text-align: center;
}



.container {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2%;
   
}

span {
    margin: 0 auto;
    /* width: 200px; */
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background: rgb(20, 20, 1);
   
}

section.background-main video {
    width: 100%;
    position: relative;
}

section.background-main {
    width: 100%;
    max-width: 100%;
 
}

section.background-main .chamada-01 {
    width: 70%;
    text-align: center;
    justify-content: center;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

}

section.background-main h1 {
    background: -webkit-linear-gradient(45deg, #0000ff6f, #4dff00b8, #00800055);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section.background-main .quote {
    margin: 0 auto;
    width: 100%;
    font-size: 19px;
   
    position:absolute;
    bottom: 0px;
    right: 0;
}
section.background-main p {
    /* background: linear-gradient(-45deg, #0ceb0c, #008000, #ffff00); */
    background: linear-gradient(-45deg, #0ceb0c7e,#000 70%, #0080003a, #ffff005d,#000);
   font-size: 20px;
   color: #fff;
   text-shadow: 7px 7px 7px #000;

}


/* *************************************** Section Sobre *************************************** */
section.sobre {
    width: 100%;
    max-height: 100%;
    background: #130000;
    
}

section.sobre .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

section.sobre .container:nth-child(2) {
    flex-direction: row-reverse;
}

section.sobre .text-wrapper {
    max-width: 50%;
}

section.sobre p {
    color: #fff;
    font-size: 18px;
    text-align: justify;

}

section.sobre .img-sobre {
    width: 50%;
    width: 700px;
    height: 500px;

    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
}


/* *************************************** Section Inverno *************************************** */

section .sidebar li{
    width: 100%;
    margin-bottom: 10px;
    /* background: green; */
}
section .sidebar a {
    display: block;
    color: #000;
    display: flex;
    align-items: center;
    
  
}

/* section .sidebar li a:hover{
    background: red;
        VIA JS
} */


section.section-img-place .sidebar  .img-li{
    width: 100%;
    height: 100px;
    transition: 0.5s;
}

section.inverno {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.inverno h1 {
    background: #ffffffbe;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 1px #95949455;
}

section div.inverno p {
    background: linear-gradient(-45deg, #00a6ff, #fff);
    /* background-image: url(../img-Rs/bandeira-de-rio-grande-do-sul-brasil.webp); */
}

section .sidebar{
    width: 300px;
    max-height: 100%;
    padding: 10px;
    background: #000;
}
section .sidebar li{
    background-position: center;
    background-size: cover;

}
section.inverno .sidebar a {
    background: linear-gradient(-45deg, #00a6ff, #fff);

}

section.section-img-place .sidebar a  .img-of-place{
    width: 50%;
    height: 100%;
  
    position: relative;
    right: -250px;
    transform: scale(1.2);
   

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   
}

/* *************************************** Section Primavera *************************************** */
section.primavera {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.primavera h1 {
    background: linear-gradient(-45deg, #3b6603, #06e606);
    color: #000;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 1px #e30a0afe;
}

section.primavera div.primavera p {
    background: linear-gradient(-45deg, #26ff00, #fff);
}

section.primavera .sidebar a {
    background: linear-gradient(-45deg, #26ff00, #fff);

}


/* *************************************** Section Verão *************************************** */

section.verao {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.verao h1 {

    background: linear-gradient(-45deg, #3b6603, #06e606);
    color: #000;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 1px #e3ca0afe;
}

section.verao div.verao p {
    background: linear-gradient(-45deg, #ff5100, #f0d908);
}

section.verao .sidebar a {
    background: linear-gradient(-45deg, #ff5100, #f0d908);

}

/* *************************************** Section Outono *************************************** */

section.outono {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.outono h1 {
    background: linear-gradient(-45deg, #ed3203, #06e606);
    color: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 1px #e34f0afe;
}

section.outono div.outono p {
    background: linear-gradient(-45deg, #ff5100, #f0d908, green);
}

section.outono .sidebar a {
    background: linear-gradient(-45deg, #ff5100, #f0d908, green);

}

/* *************************************** Section Contato *************************************** */

section.contato {
    width: 100%;
    height: 100%;
    padding: 100px 0;

    background: linear-gradient(-45deg, #ff5100, #f0d908, #008000);

    animation: gradient-animation ease-in-out 10s infinite;
    background-size: 300% 300%;
}

section.contato fieldset {
    margin: 0 auto;
    width: 500px;
    max-height: 100%;
    padding: 50px;
    background-image: url(../landscape/maldives-1993704.jpg);
    background-size: cover;
    box-shadow: 4px 4px 3px #000;
    border-radius: 20px;
}

section.contato legend {
    font-size: 20px;
    padding: 0 20px;
}

section.contato form input[type='text'] {
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
    padding: 5px;
}

section.contato form button#btn-form {
    margin: 0 auto;
    width: 150px;
    display: block;
    padding: 10px;
    font-size: 18px;

    background: #0698e6;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 1s;
}

section.contato form button#btn-form:hover {
    background: #008000;
}

section.contato form textarea {
    width: 100%;
    margin-bottom: 40px;
}

/* *************************************** Section Footer *************************************** */

footer {
    width: 100%;
    height: 400px;
    background: linear-gradient(-45deg, #ff5100, #f0d908, #008000);
    position: relative;

}

footer .logo-footer {
    width: 200px;
    height: 200px;
    background-image: url(../img/logo-dev.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

footer .box-social-media {
    max-width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

footer .icon {
    font-size: 50px;
    color: rgb(9, 89, 2);
    cursor: pointer;
}

footer .text-footer {
    max-width: 100%;
    display: flex;

    gap: 10px;
    font-size: 20px;
}

footer .copy {
    width: 20px;

}

/* Animação div.seasons */
[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime="top"]{
    transform: translate3d(0, -200px,0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px ,0px, 0px);
}

/* Animation gradient  */
@keyframes gradient-animation {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }

}

/* *************************************** Media Queries  *************************************** */


@media screen and (max-width:1200px) {

    section h1 {
        font-size: 130px;
    }

    footer>.container {
        flex-direction: column;
        /* background: rgb(106, 255, 0); */
        gap: 30px;
    }
    section.background-main .chamada-01 {
        width: 100%;
        top: 0;
        
    }
}

@media screen and (max-width:750px) {

    header .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    header #btn-mobile {
        display: flex;
        gap: 5px;
        position: absolute;
        right: 5px;
        top: 50px;
        /* background: none; */
        border: 0;

        padding: .5rem 1rem;
        z-index: 99;
    }

    header nav #menu {
        display: block;
        position: absolute;
        width: 100%;
        height: 0;

        top: 90px;
        right: 0;
        background: linear-gradient(-45deg, #008000, #ffa500, #00fbff);
        z-index: 99;
        transition: 1s;
        visibility: hidden;
        overflow-y: hidden;

    }

    header nav.active #menu {
        display: block;
        top: 90px;
        height: calc(100vh - 90px);
        transition: 1s;
        visibility: visible;
        /* overflow-y: auto; */

    }

    #menu li {
        border-bottom: 1px solid #ccc;
    }

    header nav #menu li .sub-menu.subMenuActivo {
        width: 100%;
        position: absolute;
        background: linear-gradient(#008000, #ffa500, #00fbff);
        top: 0px;
        left: 110px;
        z-index: 99;

    }

    /* Media queries sections */

    section h1 {
        font-size: 70px;

    }

    section.background-main p {
        font-size: 15px;
        text-align: justify;
    }

    section.sobre .container {
        display: block;
    }

    section.sobre .text-wrapper {
        max-width: 100%;

    }

    section.sobre .img-sobre {
        width: 100%;
        height: 500px;
        background-size: cover;
    }

}

@media screen and (max-width:540px) {

    section h1 {
        font-size: 50px;
    }
    section.background-main .chamada-01 p{
       display: none;
    }

    section p{
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
    section span {
        font-size: 12px;
    }

    section.background-main p {
        font-size: 15px;
    }

    section.contato fieldset {
        padding: 10px;

    }

}