* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

:root {
    --title-bg-color: linear-gradient(-45deg, #008000, #ffa500, #00fbff);
}

::-webkit-scrollbar {
    width: 20px;
    background: var(--title-bg-color);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(-45deg, #00fbff, #008000);
    border-radius: 20px;
}

/* FrameWOrk */
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background_img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

body {
    height: 100%;
    background: #130000;
    /* overflow-x: hidden; */
}

/* html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
} */


header {
    width: 100%;
    height: 90px;
    background: var(--title-bg-color);
    padding: 0 2%;
    position: fixed;
    z-index: 99;
    position: fixed;
}

header .container {
    margin: 0 auto;
    max-width: 1400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 200px;
    height: 70px;
}

header #btn-mobile {
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
}

header nav #menu {
    display: inline-flex;
}

header nav #menu li:hover {
    background: #01371190;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

header .sub-menu {
    max-width: 100%;
    display: none;
    transition: 0.5s;
}

header #menu li {
    padding: 1rem;
    position: relative;
    transition: 0.5s;
}

header nav #menu li .sub-menu.subMenuActivo {
    display: block;
    position: absolute;
    background: var(--title-bg-color);
    top: 50px;
    left: 0;
    transition: 0.5s;

}

/*********** Section Main ***********/

h1 {
    font-size: 130px;
    text-align: center;
    color: #fff;
    /* display: none; */
}

h2 {
    width: 100%;
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    background: var(--title-bg-color);
}

h3 {
    font-size: 40px;
    text-align: center;
    background: var(--title-bg-color);
}

img {
    width: 100%;
    height: 100%;
}

section {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 90px;
    display: flex;
}

p {
    padding: 10px;
}

section p {
    font-size: 18px;
    text-align: center;
}

/* section.section-img-place {
    transition:  1s;
} */

.container {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

section.background-main video {
    width: 100%;
    border: 10px solid #1f6603
}

section.background-main .chamada-01 {
    width: 100%;
    text-align: center;
    justify-content: center;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

section.background-main h1 {
    background: -webkit-linear-gradient(45deg, #0000ff6f, #4dff00b8, #00800055);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.background-main p {
    max-width: 100%;
    max-height: 100%;
    line-height: 25px;
    background: linear-gradient(-45deg, #0ceb0c7e, #000 70%, #0080003a, #ffff005d, #000);
    font-size: 18px;
    color: #fff;
    text-shadow: 7px 7px 7px #000;
    position: relative;
}

section.background-main .quote {
    margin: 0 auto;
    width: 100%;
    font-size: 19px;

    position: absolute;
    bottom: 0px;
    right: 0;
    text-align: center;
    color: #fff;
}

/***********Section Sobre ***********/
section.sobre {
    width: 100%;
    max-height: 100%;
    margin: 50px auto;
    flex-direction: column;
}

section.sobre .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 0;
}

section.sobre .container:nth-child(2) {
    flex-direction: row-reverse;
}

section.sobre .text-wrapper {
    max-width: 50%;
}

section.sobre p {
    color: #fff;
    font-size: 18px;
    text-align: justify;
}

section.sobre .img-sobre {
    width: 50%;
    height: 500px;

    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
}

/*********** Section Inverno ***********/
section .sidebar{
    max-width: 100%;

}
section .sidebar li {
    width: 100%;
    height: 70px;
    margin-bottom: 5px;
    position: relative;
}

section .sidebar a {
    display: block;
    color: #000;
    text-align: center;
    border-radius: 20px;
}

/* section .sidebar li a:hover{
    background: red;
        VIA JS
} */


section.section-img-place .sidebar .active-img-li {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform: scale(1.2);
}

/* Reposicionar conteudo da section */


/*********** frameWork ***********/
section.section-img-place {

    justify-content: center;
    align-items: center;

    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    border: 20px solid #96ed094d;
     
}

section.inverno h1 {
    background: #ffffffbe;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 1px #95949455;
}

section.inverno a, section.inverno p {
    background: linear-gradient(-45deg, #00a6ff, #fff)
}

section .sidebar {
    width: 100%;
    max-width: 200px;
    max-height: 100%;
    padding: 10px;
    background: #000;
}

section .sidebar li {
    background-position: center;
    background-size: cover;
    text-align: center;
}


section .img-of-place {
    width: 100%;
    height: 100%;
    max-height: 100px;

    position: relative;
    right: -120px;
    top: -20px;
    transform: scale(1.5);


    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}

/*********** Section Primavera ***********/


section.primavera h1 {
    background: linear-gradient(-45deg, #3b6603, #06e606);
    color: #000;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 1px #e30a0afe;
}

section.primavera a, section.primavera p {
    background: linear-gradient(-45deg, #26ff00, #fff);
}

/*********** Section Verão ***********/

section.verao h1 {
    background: linear-gradient(-45deg, #3b6603, #06e606);
    color: #000;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 1px #e3ca0afe;
}

section.verao .verao p, section.verao a {
    background: linear-gradient(-45deg, #ff5100, #f0d908);
}


/*********** Section Outono ***********/
section.outono h1 {
    background: linear-gradient(-45deg, #ed3203, #06e606);
    color: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 1px #e34f0afe;
}

section.outono .outono p, section.outono a {
    background: linear-gradient(-45deg, #ff5100, #f0d908, green);
}


/*********** Section Contato ***********/

section.contato {
    width: 100%;
    height: 100%;
    padding: 100px 0;

    background: linear-gradient(-45deg, #ff5100, #f0d908, #008000);
    animation: gradient-animation ease-in-out 10s infinite;
    background-size: 300% 300%;
}

section.contato fieldset {

    width: 400px;
    max-height: 100%;
    padding: 50px;
    background-image: url(../landscape/maldives-1993704.jpg);
    background-size: cover;
    box-shadow: 4px 4px 3px #000;
    border-radius: 20px;
}

section.contato legend {
    font-size: 20px;
    padding: 0 20px;

}

section.contato form input[type='text'] {
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
    padding: 5px;
}

section.contato form button#btn-form {
    margin: 0 auto;
    width: 150px;
    display: block;
    padding: 10px;
    font-size: 18px;

    background: #0698e6;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 1s;
}

section.contato form button#btn-form:hover {
    background: #008000;
}

section.contato form textarea {
    width: 100%;
    margin-bottom: 40px;
}

/*********** Section Footer ***********/

footer .container {
    width: 100%;
    min-height: 200px;
    background: linear-gradient(-45deg, #ff5100, #f0d908, #008000);

    position: relative;
    display: flex;
    justify-content: space-evenly;
}

footer .container div:nth-child(2) {
    font-size: 18px;
    display: flex;
    align-items: center;
}


footer .logo-footer {
    width: 150px;
    height: 100px;
    background-image: url(../img/logo-dev.png);

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

footer .icon {
    font-size: 40px;
    color: #130000;
    ;
    cursor: pointer;
}

footer .copy {
    width: 20px;
}

/* Animação div.seasons */
[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime="top"] {
    transform: translate3d(0, -200px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/* Animation gradient  */
@keyframes gradient-animation {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/*********** Media Queries  ***********/

@media screen and (max-width:750px) {

    header .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header #btn-mobile {
        display: flex;
        gap: 5px;
        position: absolute;
        right: 5px;
        top: 50px;
        /* background: none; */
        border: 0;

        padding: .5rem 1rem;
        z-index: 99;
    }

    header nav #menu {
        display: block;
        position: absolute;
        width: 100%;
        height: 0;

        top: 90px;
        right: 0;
        background: linear-gradient(-45deg, #008000, #ffa500, #00fbff);
        z-index: 99;
        transition: 1s;
        visibility: hidden;
        overflow-y: hidden;
    }

    header nav.active #menu {
        display: block;
        top: 90px;
        height: 100vh;
        transition: 1s;
        visibility: visible;
        /* overflow-y: auto; */

    }

    #menu li {
        border-bottom: 1px solid #ccc;
    }

    header nav #menu li .sub-menu.subMenuActivo {
        width: 100%;
        position: absolute;
        background: linear-gradient(#008000, #ffa500, #00fbff);
        top: 0px;
        left: 110px;
        z-index: 99;
    }

    /* Media queries sections */

    section h1 {
        font-size: 70px;
    }

    section.background-main p {
        font-size: 15px;
        text-align: justify;
    }

    section.sobre .container {
        display: block;
    }

    section.sobre .text-wrapper {
        max-width: 100%;
    }

    section.sobre .img-sobre {
        width: 100%;
        height: 500px;
        background-size: cover;
    }

    footer>.container {
        flex-direction: column;
        gap: 10px;
    }


}

@media screen and (max-width:540px) {
    section h1 {
        font-size: 50px;
    }
    section.background-main  p {
        font-size: 15px;
        display: none;
    }

    section.background-main  .quote p {
        display: block;
      
    }

    section span {
        font-size: 12px;
    }

  
    section.contato fieldset {
        padding: 10px;

    }




}