* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

:root {
    --title-bg-color: linear-gradient(45deg, #008000, #ffa500, #00fbff, #000);
}

::-webkit-scrollbar {
    width: 20px;
    background: var(--title-bg-color);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(-45deg, #00fbff, #008000);
    border-radius: 20px;
}

body {

    background: #130000;
    height: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}


p {
    width: 100%;
    font-size: 19px;
    padding: 10px;
    text-align: justify;
}

h1 {
    background: var(--title-bg-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;

    font-family: 'Tilt Prism', cursive;
}

img {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 90px;
    background: var(--title-bg-color);
    padding: 0 2%;
    position: fixed;
    z-index: 99;
}

header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 150px;
    height: 70px;
}

#btn-mobile {
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
}

header nav #menu {
    display: inline-flex;
}

header nav #menu li:hover {
    background: #01371190;
}

header #menu li {
    padding: 1rem;
    position: relative;
    transition: 0.5s;
}
header .sub-menu {
    max-width: 100%;
    display: none;
    transition: 0.5s;
}

header nav #menu li .sub-menu.subMenuActivo {
    display: block;
    position: absolute;
    background: var(--title-bg-color);
    top: 50px;
    left: 0;
    transition: 0.5s;
}
/* ----------------------------------------- */

/* FrameWork */
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.st-udr-constr{
    max-width: 300px;
    max-height:300px;

    position: fixed;
    top: 300px;
    /* left: 70%; */
    z-index: 99;
    border-radius: 20px;
    text-align: center; 

    display: none;
    /* animation: warning  10s ease-in-out infinite; */
}

@keyframes warning {
    0%,100%{
        opacity: 0;
        height: 0;
    }
    50%{
        opacity: 1;
        height: 300px;
    }
    
}
.st-udr-constr a{
    width: 100%;
    text-align: center;
    color: gray;
    position: relative;
    top: 90%;
    width: 100%;
    text-align: center;
}
.image-author  {
    width: 100%;
    text-align: center;
    color: gray;
}
.image-author a{
    color: gray;
}

/* ------------------------------------------ */

.main, section {
    margin: 0px auto;
    max-width: 1200px;
    height: 100%;
    position: relative;
    top: 140px;
}

.main .text-call-01 {
    width: 90%;
    font-size: 18px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.main h1 {
    font-size: 6vw;
}

.text-call-2 {

    margin-top: 300px;
    text-align: center;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    background: #303030;
    border-radius: 20px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.text-call-2 h3 {
    padding: 20px 0;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: justify;
}


/* --------------Sections -------------- */


section.my-brazil .txt-m-b-b{
    display: flex;
}

section {
    max-width: 1200px;
    margin: 50px  auto;
    padding: 50px;
    position: relative;
    overflow: hidden;
    background: #180202;
    border-radius: 20px;
}
section .fx > h1{
    padding: 20px 0;
    font-size: 5vw;
}

section.about-us .box-about-us{
    padding-top: 200px;
    gap: 40px;
}


section.about-us .text-about-us {
    width: 60%;
    max-width: 450px;
    align-items: center;
    margin-bottom: 100px;
    background: linear-gradient(-45deg,#818382,#130000);
   
}

section.about-us .bx-img-about{
    height: 400px;
    width: 400px;
    background: linear-gradient(-45deg,#818382,#130000);
  
} 
section.about-us .text-about-us div{
    text-align: center;
    background-image: url(../img/brazil-3001462_1280.png);
    padding: 10px ;  
    transition: 0.5s;
    transform: rotate(-10deg); 
}

section.about-us .text-about-us div:hover{
    transition: 0.5s;
    transform: rotate(0deg);
    clip-path:none;
}

section.about-us .text-about-us div p{
    color: #fff;
    background: #0000009d;
    line-height: 30px;
}

section.about-us .img-about-us{
   /* width: 100%; */
   /* height: 100%; */
   transform: rotate(10deg); 
   transition: 0.5s;
   padding-top: 40%;

}

section.about-us .img-about-us:hover{
    transform: rotate(0deg); 
}

section.about-us .box-about-us:nth-child(2) {
    flex-direction: row-reverse;
}

/* -------------- Sections Seasons -------------- */

section.seasons{
    margin: 150px  auto;
}
section.seasons > h1{
 font-size: 100px;

}
section.seasons .btn-open-txt {
    width: 60px;
    height: 60px;
    background: red;
    position: absolute;
    right: -50px;

    text-transform: uppercase;

    cursor: pointer;
    transform: rotate(40deg);
    transition: 1s;

    animation: anime-btn-txt-place 2.5s ease-in-out infinite;
}

section.seasons .scroll-container {
    width: 100%;
    height: 100%;

    position: relative;
    left: -101%;
    transition: 1s;
    filter: drop-shadow(8px 8px 8px #fff);
}

section.seasons .open-text-place {
    max-width: 100%;
    left: -20px;
}

section.seasons .text-about-the-place {
    line-height: 30px;
    text-align: justify;
    background-repeat: no-repeat;
    background-size:  cover;  
    background-position: center ;
    border-radius: 10px;
}

section.seasons p {
    padding: 20px;
    font-size: 18px;
    color: #fff;
    background: #00000095;
}

section.seasons strong {
    text-decoration: underline;
}

section.seasons .text-about-the-place .txt-part-2 {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transform: rotate(10deg);
    position: relative;
    transition: 0.5s;
}

section .sidenav {
    width: 100%;
    background: #000000bf;
    position: absolute;
    bottom: 0;
    left: 0;
   
}

section .sidenav > ul{
    flex-wrap: wrap;
    gap: 10px;
}
section .sidenav a:hover{
    color: greenyellow;
}
section.seasons .container {
    margin-bottom: 100px;
}
section.seasons .container .closeTxt{
    width: 30px;
    height: 30px;
    background: red;
    color: #fff;
    font-weight: bold;

    position: absolute;
    bottom: 0px;
    right: 0;
    cursor: pointer;

}
/* -------------- Springtime-------------- */

section.springtime > h1{
  
    background: linear-gradient(-45deg, #26ff00, #fff,#800080,#ff0000);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* -------------- Summer-------------- */
section.summer > h1{

    background: -webkit-linear-gradient(45deg, #ffff00 10%, #ffa500,#ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
/* -------------- Fall-------------- */
section.fall > h1{
 
    background: -webkit-linear-gradient(-35deg,#ffff00 40%, #ed3203, #06e606);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* -------------- winter-------------- */
section.winter > h1{
    background: linear-gradient(-45deg,#0022ff8b,#00aeff9f,#fff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer{
    height: 200px;
    background: #130000;
    font-size: 20px;
    text-align: center;
    padding: 100px;
    background: linear-gradient(-45deg,#05be39,#ff0000);
}

@keyframes anime-btn-txt-place {
    0%, 100% {

        background: red;
        width: 80px;
    }

    50% {

        background: green;
        transform: rotate(0deg);
        width: 80px;

    }
}

/*********** Media Queries  ***********/
@media screen and (max-width:800px) {

    header .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header #btn-mobile {
        display: flex;
        position: absolute;
        right: 5px;
        top: 50px;
        border: 0;
        z-index: 99;
    }

    header nav #menu {
        display: block;
        position: absolute;
        width: 100%;
        height: 0;

        top: 90px;
        right: 0;
        background: var(--title-bg-color);
        z-index: 99;
        transition: 1s;
        visibility: hidden;
        overflow-y: hidden;

        /* add Imagem  */
        /* background:#007780;
        background-image: url(../img/palms-37822.svg);
        background-repeat: no-repeat;
        background-size: cover; */
    }

    header nav.active #menu {
        display: block;
        top: 90px;
        height: 100vh;
        transition: 1s;
        visibility: visible;
        /* overflow-y: auto; */
   
    }

    #menu li {
        border-bottom: 1px solid #ccc;
    }

    header nav #menu li .sub-menu.subMenuActivo {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 110px;
        z-index: 99;
    }

    section.my-brazil{
        padding: 10px;
    }

    section.my-brazil .txt-m-b-b{
        flex-direction: column;

    }   
    section.about-us{
        padding: 10px;
    }
    
    section.about-us  .box-about-us {
        gap: 10px;
        flex-direction: column;
        width: 100%;
        /* padding: 20px; */
    
    }

    section.about-us .text-about-us {
        align-items: center;
        width: 100%;
    }


    section.about-us  .box-about-us:nth-child(2) {
        flex-direction: column;
    }
   

    section.seasons{
        padding: 5px;
    }
    section.seasons > h1{
        font-size: 40px;
       
       }
}